<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Countries</title>
    <link rel="stylesheets" href="../dev/styles/style.css"
  </head>
  <body>
    <a href="/send">send a form</a>
    <ul>
      <% arr.forEach(function(el){ %>
      <li><%= el%></li>
      <% }); %>
    </ul>
  </body>
</html>
