<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Countries</title>
    <link rel="stylesheets" href="../dev/styles/style.css"
  </head>
  <body>
    <h1>send a form</h1>
    <div class="container">
      <form method="POST" id="postForm">
        <label for="postForm">post form</label>
        <input name="text" type="text" />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
