body {
  background: #eee;
}
#carouselExampleCaptions {
  max-height: 85vh;
}
.carousel-inner {
  max-height: 85vh;
}
.box{
  position: relative;
  height: 84.6vh;
  width: 100%;
}
.bd-example{
  position: absolute;
}
.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: flex-start;
}
#grid {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 49% 49%;
  height: 80vh;
  grid-gap: 2%;
  z-index: 100;
}
.grid-item {
  border: 1px solid #999;
  border-radius: 5px;
}
.empty {
  border: none;
}
.cities {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 7;
  grid-row-end: 11;
  overflow: scroll;
}
.flag {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 7;
}
.other {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 11;
  overflow: scroll;
}
.selectDiv{
  width: 15%;
}
/*create*/
.createForm{
  width: 80vw;
  margin: 0 auto;
}
.form-group{
  display: flex;
  flex-direction: column;
}
.forms{
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  height: 70vh;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #ccc;
  margin-bottom: 10px;
}
.send{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#cities{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 6;
}
#other{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 10;
}
.alert{
  display: flex;
  justify-content: center;
}
.error{
  border:1px solid red;
}
.hasInBase{
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #333;
  position: absolute;
  height: 80px;
  z-index: 3;
}
.authorization{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 10%;
  color: rgb(4, 161, 4);
  z-index: 200;
}
.labels{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.labels:hover{
  cursor: pointer;
}
.formsContainer{
  top: 100%;
  width: 100%;
  position: absolute;
}
.registration-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: none;
}
.sign-in-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: none;
}
.greeting{
  display: flex;
  color: whitesmoke;
  font-size: 1.1em;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}
.logout:hover{
  cursor: pointer;
}
.logout{
  border:1px solid #fff;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout a{
  text-decoration: none;
  color: rgb(212, 25, 25);
}
.scale{
  transform: scale(1.1);
  transition: all;
}
.alignment{
  display: flex;
  justify-content: space-between;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 20;
}